<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="footer-content position-relative">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>BOU Engineering</h3>
            <p>
              BOU Engineering is part of BOU Holdings Limited.<br><br>
              <strong>Phone:</strong> +234 803 123 4567<br>
              <strong>Email:</strong> tech@bougroup.org<br>
            </p>
            <div class="social-links d-flex mt-3">
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
              <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div><!-- End footer info column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Clients</h4>
          <ul>
            <li><a>CSEA</a></li>
            <li><a>Air Peace</a></li>
            <li><a>AA Rano</a></li>
            <li><a>Market Square</a></li>
            <li><a>Globalcom</a></li>
            <li><a>Doc Emeka</a></li>
          </ul>
        </div><!-- End footer links column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>International</h4>
          <ul>
            <li><a>Chargehive</a></li>
            <li><a>Oris Kitchen</a></li>
            <li><a>Gemma Care</a></li>
            <li><a>Cex</a></li>
            <li><a>Solent Hotel</a></li>
          </ul>
        </div><!-- End footer links column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Partners</h4>
          <ul>
            <li><a>Microsoft</a></li>
            <li><a>Google</a></li>
            <li><a>Oracle</a></li>
            <li><a>Portsmouth Uni</a></li>
            <li><a>MTN</a></li>
          </ul>
        </div><!-- End footer links column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Memberships</h4>
          <ul>
            <li><a>NTID</a></li>
            <li><a>BLA</a></li>
            <li><a>BOO</a></li>
          </ul>
        </div><!-- End footer links column-->

      </div>
    </div>
  </div>

  <div class="footer-legal text-center position-relative">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>BOU Engineering</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Built by <a href="https://bougroup.org/">BOU Engineering</a>
      </div>
    </div>
  </div>

</footer>
<!-- End Footer -->