<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="row position-relative">

      <div class="col-lg-7 about-img" style="background-image: url(/assets/img/about.jpg);"></div>

      <div class="col-lg-7">
        <h2></h2>
        <div class="our-story">
          <p>We specialize in building custom software and hardware to deliver value to your business in unparalleled
            ways. We enjoy making the lives of our clients easier using software to increase productivity and profit.
            Saving time and cutting costs gives us joy</p>
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>We deliiver on time and provide the best quality</span></li>
            <li><i class="bi bi-check-circle"></i> <span>We are reliable and trustworthy</span></li>
            <li><i class="bi bi-check-circle"></i> <span>We are committed to excellence</span></li>
          </ul>
          <p>We are a team of passionate individuals who love what we do. We are always looking for new challenges and
            opportunities to grow. We believe in the power of technology to change the world for the better.</p>

          <div class="watch-video d-flex align-items-center position-relative">
            <i class="bi bi-play-circle"></i>
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Meet the Team</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End About Section -->