<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="row position-relative">

      <div class="col-lg-7 about-img" style="background-image: url(/assets/img/about.jpg);"></div>

      <div class="col-lg-7">
        <h2>BOU HOLDINGS LTD</h2>
        <div class="our-story">
          <p>We specialize in building custom software and hardware to deliver value to your business in unparalleled
            ways. We enjoy making the lives of our clients easier using software to increase productivity and profit.
            Saving time and cutting costs gives us joy</p>
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commo</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit in</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
          </ul>
          <p>Vitae autem velit excepturi fugit. Animi ad non. Eligendi et non nesciunt suscipit repellendus porro in
            quo eveniet. Molestias in maxime doloremque.</p>

          <div class="watch-video d-flex align-items-center position-relative">
            <i class="bi bi-play-circle"></i>
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Watch Video</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End About Section -->