<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <img src="/assets/img/BOU-LOGO-WHITE.png" alt="">
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="technology.html">Technology</a></li>
        <li><a href="real-estate.html">Real Estate</a></li>
        <li><a href="energy.html">Energy</a></li>
        <li><a href="agriculture.html">Agriculture</a></li>
        <li><a href="education.html">Education</a></li>
        <li class="dropdown"><a href="#"><span>About Us</span><i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="contact.html">CONTACT BOU</a></li>
            <li><a href="#">CAREERS</a></li>
            <li><a href="#">INVESTORS</a></li>
            <li><a href="about.html">ABOUT BOU</a></li>
          </ul>
        </li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->