<!-- ======= Transparent & Accountable Section ======= -->
<section id="re-features" class="services section-bg pt-5 pb-5">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Transparent & Accountable</h2>
    </div>

    <div class="row gy-4">

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative text-center h-100">
          <div class="icon" style="margin-bottom: 20px;">
            <img src="/assets/img/real-estate/tech.webp" alt="Technology" style="max-width: 100px; border-radius: 50%; box-shadow: 0 5px 15px rgba(0,0,0,0.1);">
          </div>
          <h3>Technology</h3>
          <p>Realtime dashboard and automatic reminders</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item  position-relative text-center h-100">
          <div class="icon" style="margin-bottom: 20px;">
            <img src="/assets/img/real-estate/ten.jpg" alt="Tenant Screening" style="max-width: 100px; border-radius: 50%; box-shadow: 0 5px 15px rgba(0,0,0,0.1);">
          </div>
          <h3>Tenant Screening</h3>
          <p>It pays to know your tenants</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item  position-relative text-center h-100">
          <div class="icon" style="margin-bottom: 20px;">
            <img src="/assets/img/real-estate/maint.jpg" alt="Compulsory Maintenance" style="max-width: 100px; border-radius: 50%; box-shadow: 0 5px 15px rgba(0,0,0,0.1);">
          </div>
          <h3>Compulsory Maintenance</h3>
          <p>Ensures above average performance</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item  position-relative text-center h-100">
          <div class="icon" style="margin-bottom: 20px;">
            <img src="/assets/img/real-estate/cert2.avif" alt="Certification" style="max-width: 100px; border-radius: 50%; box-shadow: 0 5px 15px rgba(0,0,0,0.1);">
          </div>
          <h3>Certification</h3>
          <p>Get your landed property government certified</p>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>
</section><!-- End Services Section -->
