<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Services</h2>
      <p>Simplicity guides everything we do. We keep it simple and our clients appreciate that.</p>
    </div>

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="fa-solid fa-briefcase"></i>
          </div>
          <h3>Business management software</h3>
          <p>Business at the speed of thought - inspired to make business enjoyable and accountable. We can model your requirements and give you the solution that is needed.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-database"></i>
          </div>
          <h3>Database design and migration</h3>
          <p>From design, installation or migration. If you have a legacy system slowing you down, we can optimize your database to speed it up.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-code"></i>
          </div>
          <h3>API Design and consultation</h3>
          <p>We are experts in API Design, with our proprietary collaborative API design tool - App Magic. Build reliable and robust APIs to compete internationally.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-microchip"></i>
          </div>
          <h3>Hardware design/procurement</h3>
          <p>Build custom hardware or procure required hardware. Over a decade of experience with solid partnerships with top manufacturers.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-mobile-screen-button"></i>
          </div>
          <h3>Cross-Platform Application development</h3>
          <p>Web, desktop and mobile applications. Application development is our bread and butter, driven by innovation in-house.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-shield-halved"></i>
          </div>
          <h3>Cybersecurity implementation</h3>
          <p>Ensure your applications run securely and your business and customer data is safe when you use BOU. Security is critical in today's world.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-gears"></i>
          </div>
          <h3>Business Systems design</h3>
          <p>Invest significantly in designing systems that optimize efficiency and profit. We come up with systems that stand the test of time.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="800">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fa-solid fa-file-invoice"></i>
          </div>
          <h3>Digitisation services</h3>
          <p>Migrate paper records into digital records professionally. Security, portability, backup, and accessibility with super fast OCR scanners.</p>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>
</section><!-- End Services Section -->
